In [166]:
import pandas as pd
import os

In [167]:
products_dir = 'results_products/'
products_files = os.listdir(products_dir)
products_files

['alteriors.ca.csv',
 'bydesignmodern.com.csv',
 'claytongrayhome.com.csv',
 'lavida-furniture.com.csv',
 'mrnanyang.com.csv',
 'welcometohome.com.au.csv',
 'www.factorybuys.com.au.csv',
 'www.mfdesign.com.my.csv',
 'www.willowcreekteak.com.csv']

In [168]:
fulltext_dir = 'results_fulltext_crawler/'
fulltext_files = os.listdir(fulltext_dir)
fulltext_files

['24estyle.com.csv',
 '4-chairs.com.csv',
 'acmeshelving.com.csv',
 'alteriors.ca.csv',
 'beckurbanfurniture.com.au.csv',
 'brooklyncityfurniture.com.csv',
 'bryantscountrystore.com.csv',
 'bydesignmodern.com.csv',
 'cane-line.co.uk.csv',
 'claytongrayhome.com.csv',
 'columbineshowroom.com.csv',
 'dfohome.com.csv',
 'dhfonline.com.csv',
 'dunlin.com.au.csv',
 'edenliving.online.csv',
 'emfurn.com.csv',
 'galvinbrothers.co.uk.csv',
 'hekman.com.csv',
 'home-buy.com.au.csv',
 'interiorsonline.com.au.csv',
 'lavida-furniture.com.csv',
 'modshop1.com.csv',
 'mrnanyang.com.csv',
 'nicoyafurniture.com.au.csv',
 'pinchdesign.com.csv',
 'shopspencerfurnituresiouxfalls.com.csv',
 'stationfurniture.store.csv',
 'themodern.com.au.csv',
 'vastinterior.com.au.csv',
 'vincentdesign.com.au.csv',
 'welcometohome.com.au.csv',
 'www.bernhardt.com.csv',
 'www.danishinspirations.com.csv',
 'www.do-shop.com.csv',
 'www.factorybuys.com.au.csv',
 'www.fentonandfenton.com.au.csv',
 'www.hudsonfurniture.com.au.csv',
 'www.kmpfurniture.com.csv',
 'www.knoll.com.csv',
 'www.mfdesign.com.my.csv',
 'www.ourfurniturewarehouse.com.au.csv',
 'www.perchfurniture.com.csv',
 'www.pinterest.com.csv',
 'www.saloom.com.csv',
 'www.scandesign.com.csv',
 'www.sofamania.com.csv',
 'www.tandemarbor.com.csv',
 'www.theguestroomfurniture.com.csv',
 'www.tyfinefurniture.com.csv',
 'www.willowcreekteak.com.csv']

In [169]:
i=1
products_file = products_dir + products_files[i]
print(products_file)
products_df = pd.read_csv(products_file)
products_df

results_products/bydesignmodern.com.csv

                                                  name
0    6 Teak "Lis" Dining Chairs by Niels Koefoed - ...
1    Danish Modern Rosewood Bookcase by Omann Jun -...
2    Danish Rosewood Corner Cabinet by Ib Kofod Lar...
3     SALE - Metal & Glass Pendant Light - (314-187.4)
4             Danish Modern Teak Sideboard - (323-229)
..                                                 ...
525  Danish Modern Tan Leather Loveseat, by Stouby ...
526  Brass "P 295" Pendant Light by Fritz Schlegel ...
527  Danish Modern Rust Leather Loveseat - (322-074.2)
528  Danish Modern Brown Leather Three Seat Sofa  -...
529  Danish Mid-Century Tan Leather Loveseat, by St...

[530 rows x 1 columns]

In [170]:
fulltext_file = fulltext_dir + products_files[i]
print(fulltext_file)
fulltext_df = pd.read_csv(fulltext_file)
fulltext_df = pd.DataFrame(set(fulltext_df['0']), columns=['name'])
fulltext_df = fulltext_df[['\\n' not in item for item in fulltext_df['name'].tolist()]]
fulltext_df.update(fulltext_df.name.apply(lambda x: x[:120]))
fulltext_df

results_fulltext_crawler/bydesignmodern.com.csv

                                                   name
1                                UNRESTORED - $3,295.00
2     Rosewood bookcase by Peter Lovig Nielsen, circ...
4                                  RESTORED - $1,295.00
5                                   16"w x 1.5"d x 40"h
6     Danish Modern Lounge Chair by Fritz Hansen - (...
...                                                 ...
1479  Danish Modern Oak & Aluminum Floor Lamp - (321...
1480  Danish Modern Leather Wingback Lounge Chair - ...
1481                             UNRESTORED - $1,895.00
1482  UNRESTORED - translation missing: en.products....
1483                           17.5"w x 16.5"d x 17.5"h

[1359 rows x 1 columns]

In [171]:
len(set(products_df['name']).intersection(set(fulltext_df['name'])))

214

In [172]:
length = len(pd.read_csv(fulltext_file))//10
df = pd.DataFrame(
    set(products_df['name']).union(set(fulltext_df['name'])),
    columns=['tokens'])
df

                                                 tokens
0                                UNRESTORED - $3,295.00
1                                  RESTORED - $2,195.00
2     Oak Danish modern mirror, circa 1960's. Solid ...
3            Danish Mid-Century Oak Cabinet - (321-335)
4     Danish Rosewood Armchair, by Villy Schou Ander...
...                                                 ...
1321                             33.5"w x 11"d x 38.5"h
1322                                   Pin on Pinterest
1323  UNRESTORED - translation missing: en.products....
1324                              53.5"w x 2"d x 40.5"h
1325                           17.5"w x 16.5"d x 17.5"h

[1326 rows x 1 columns]

In [173]:
df['ner_tags'] = df['tokens'].apply(
    lambda x: 'I-LOC' if x in pd.read_csv(products_file)['name'].tolist() else 'O'
)

In [174]:
df

                                                 tokens ner_tags
0                                UNRESTORED - $3,295.00        O
1                                  RESTORED - $2,195.00        O
2     Oak Danish modern mirror, circa 1960's. Solid ...        O
3            Danish Mid-Century Oak Cabinet - (321-335)    I-LOC
4     Danish Rosewood Armchair, by Villy Schou Ander...    I-LOC
...                                                 ...      ...
1321                             33.5"w x 11"d x 38.5"h        O
1322                                   Pin on Pinterest        O
1323  UNRESTORED - translation missing: en.products....        O
1324                              53.5"w x 2"d x 40.5"h        O
1325                           17.5"w x 16.5"d x 17.5"h        O

[1326 rows x 2 columns]

In [176]:
token_list_len = 16
df.groupby(df.index//token_list_len)[['tokens', 'ner_tags']].agg(list)

,tokens,ner_tags
0,"[UNRESTORED - $3,295.00, RESTORED - $2,195.00,...","[O, O, O, I-LOC, I-LOC, O, O, I-LOC, O, O, O, ..."
1,"[$345.00, sofa, circa 1960's., $300 – CANADA (...","[O, O, O, I-LOC, I-LOC, O, O, O, O, I-LOC, I-L..."
2,"[$1400 – CANADA (OUTSIDE B.C.), Danish Modern ...","[O, I-LOC, O, I-LOC, I-LOC, O, O, I-LOC, I-LOC..."
3,[Scandinavian Lounge Chair made with Teak circ...,"[O, I-LOC, I-LOC, O, O, I-LOC, I-LOC, O, O, O,..."
4,"[$700 – CANADA (OUTSIDE B.C.), Beech wood Dani...","[O, O, O, O, I-LOC, O, O, O, O, O, I-LOC, O, O..."
...,...,...
78,"[48"" x 28"", *Glass scratch on top right hand ...","[O, O, O, O, O, O, O, O, O, O, I-LOC, I-LOC, O..."
79,[ri-light socket with 3 brightness levels to s...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
80,"[42.5""w x 17""d x 77.5""h, Rosewood & Tile Nesti...","[O, I-LOC, I-LOC, O, O, O, O, O, I-LOC, I-LOC,..."
81,[Rosewood Danish rosewood bookcase cabinet by ...,"[O, O, O, O, O, O, O, I-LOC, O, I-LOC, O, I-LO..."
82,"[$650 – USA (CONTINENTAL), Teak Danish modern ...","[O, O, O, I-LOC, O, I-LOC, O, O, I-LOC, O, O, ..."

In [177]:
def prepare_dataset(products_file, fulltext_file, token_list_len):
    products_df = pd.read_csv(products_file)
    fulltext_df = pd.read_csv(fulltext_file)
    fulltext_df = pd.DataFrame(set(fulltext_df['0']), columns=['name'])
    fulltext_df = fulltext_df[['\\n' not in item for item in fulltext_df['name'].tolist()]]
    fulltext_df.update(fulltext_df.name.apply(lambda x: x[:100]))
    df = pd.DataFrame(
        set(products_df['name']).union(set(fulltext_df['name'])),
        columns=['tokens'])
    df = df.astype(str)
    df['ner_tags'] = df['tokens'].apply(
        lambda x: 'I-LOC' if x in pd.read_csv(products_file)['name'].tolist() else 'O'
    )
    df = df.groupby(df.index//token_list_len)[['tokens', 'ner_tags']].agg(list)
    return df

In [178]:
products_file = 'results_products/bydesignmodern.com.csv'
fulltext_file = 'results_fulltext_crawler/bydesignmodern.com.csv'
token_list_len = 16
prepare_dataset(products_file, fulltext_file, token_list_len)

,tokens,ner_tags
0,"[Rosewood and tile side table, circa 1960's. H...","[O, O, O, O, O, I-LOC, I-LOC, O, O, I-LOC, O, ..."
1,"[76""w x 31""d x 27.5""h, Oak GE 290 sofa by Hans...","[O, O, O, O, O, O, I-LOC, O, O, I-LOC, O, O, I..."
2,"[Danish Carved Wood Table Lamp - (323-015), Mi...","[I-LOC, I-LOC, O, O, I-LOC, O, I-LOC, O, O, I-..."
3,"[Circa 1960's, Close, Teak & oak Danish desk, ...","[O, O, O, O, I-LOC, I-LOC, O, O, I-LOC, I-LOC,..."
4,[Danish Modern Rosewood Bar & 3 Leather Stools...,"[I-LOC, O, O, O, O, O, O, O, O, O, I-LOC, O, O..."
...,...,...
78,"[UNRESTORED - $795.00, 10"" x 28"", Walnut five ...","[O, O, O, O, O, O, I-LOC, I-LOC, O, O, O, O, O..."
79,"[31""w x 18""d x 33""h, 55""w x 29.5""d x 29.5""h, L...","[O, O, O, O, O, O, O, O, O, I-LOC, I-LOC, O, O..."
80,[Danish Modern Teak Draw Leaf Dining Table - (...,"[I-LOC, I-LOC, O, O, I-LOC, I-LOC, O, O, O, O,..."
81,"[Danish Modern Oak Mirror - (319-135), Rosewoo...","[I-LOC, O, I-LOC, O, O, I-LOC, O, O, I-LOC, I-..."
82,"[Danish Modern rosewood & brass floor lamp, ci...","[O, O, O, O]"

In [179]:
products_dir = 'results_products/'
fulltext_dir = 'results_fulltext_crawler/'
token_list_len = 16

In [180]:
df_list = []
for file in products_files[3:]:
    products_file = products_dir + file
    fulltext_file = fulltext_dir + file
    print(products_file, fulltext_file)
    df_list.append(prepare_dataset(products_file, fulltext_file, token_list_len))

train_df = pd.concat(df_list, ignore_index=True)
train_df

results_products/lavida-furniture.com.csv results_fulltext_crawler/lavida-furniture.com.csv
results_products/mrnanyang.com.csv results_fulltext_crawler/mrnanyang.com.csv
results_products/welcometohome.com.au.csv results_fulltext_crawler/welcometohome.com.au.csv
results_products/www.factorybuys.com.au.csv results_fulltext_crawler/www.factorybuys.com.au.csv
results_products/www.mfdesign.com.my.csv results_fulltext_crawler/www.mfdesign.com.my.csv
results_products/www.willowcreekteak.com.csv results_fulltext_crawler/www.willowcreekteak.com.csv

,tokens,ner_tags
0,[Also available in a selection of other colors...,"[O, O, O, I-LOC, O, O, O, O, O, O, O, O, O, O,..."
1,"[ULUDAGE SOFA SET 3M+3+1, $('.swatch[data-opti...","[I-LOC, O, O, O, I-LOC, O, O, O, O, O, O, O, O..."
2,"[Dhs. 2,500.00, With an innovative blend of pl...","[O, O, O, I-LOC, O, O, O, I-LOC, O, O, O, O, I..."
3,"[0510, Love to host but short on space? The la...","[O, O, O, O, O, O, O, O, O, O, O, O, O, I-LOC,..."
4,"[0419, $('.swatch[data-option-index=""0""] .aed-...","[O, O, O, O, O, O, O, O, O, I-LOC, O, O, O, I-..."
...,...,...
2629,"[48"" Round Outdoor Teak Dining Table Handcraft...","[O, O, O, I-LOC, O, I-LOC, O, O, O, O, I-LOC, ..."
2630,[7 pc Venice Teak Deep Seating Deluxe Sofa wit...,"[I-LOC, I-LOC, I-LOC, O, I-LOC, I-LOC, O, I-LO..."
2631,"[Email Customer Service, Daybed 72""Lx63.5""Wx16...","[O, O, I-LOC, O, O, O, O, I-LOC, O, O, I-LOC, ..."
2632,"[$8,194.99, $4,289.99, Sectional Sofa 119""x32....","[O, O, O, I-LOC, O, I-LOC, O, O, I-LOC, O, I-L..."
2633,"[9pc pc Hermosa Teak Sectional with 72"" Coffee...","[I-LOC, O, O, O, I-LOC, O, O, O, O, O, O, I-LO..."

In [181]:
df_list = []
for file in products_files[:3]:
    products_file = products_dir + file
    fulltext_file = fulltext_dir + file
    print(products_file, fulltext_file)
    df_list.append(prepare_dataset(products_file, fulltext_file, token_list_len))

test_df = pd.concat(df_list, ignore_index=True)
test_df

results_products/alteriors.ca.csv results_fulltext_crawler/alteriors.ca.csv
results_products/bydesignmodern.com.csv results_fulltext_crawler/bydesignmodern.com.csv
results_products/claytongrayhome.com.csv results_fulltext_crawler/claytongrayhome.com.csv

,tokens,ner_tags
0,[Welded steel rods with polished chrome finish...,"[O, O, O, O, O, O, O, I-LOC, O, O, O, O, O, O,..."
1,[Our Touch family of designs emphasizes the be...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
2,"[Tall / Walnut / Slate, Losanges I, $5,257.00,...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
3,"[View Spot Stool Bar Height, 18 - 27.16"" diam ...","[O, O, O, O, O, O, I-LOC, O, O, O, O, O, O, O,..."
4,[Smooth tilt mimics body's natural pivot point...,"[O, O, O, O, O, O, I-LOC, O, O, O, O, O, O, O,..."
...,...,...
963,"[Jada Stool by , Sorin Bed Pristine Vintage Fa...","[I-LOC, I-LOC, I-LOC, O, I-LOC, O, O, O, O, O,..."
964,"[Marlowe Stool Fur by , $1,634.00, This produc...","[I-LOC, O, O, O, I-LOC, O, O, I-LOC, I-LOC, I-..."
965,"[$720.00, Fergie Stool Cerused Oak by , Venus ...","[O, I-LOC, O, O, O, O, I-LOC, O, O, I-LOC, O, ..."
966,"[Zanzibar Side Table and Stool Driftwood by , ...","[I-LOC, I-LOC, I-LOC, O, O, I-LOC, I-LOC, O, O..."
967,"[Lucy Bistro Table Carbon Wash, $2,950.00, Har...","[O, O, O]"

In [182]:
train_df.to_parquet('furniture_train_df.gzip', index=False)
test_df.to_parquet('furniture_test_df.gzip', index=False)